@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --primaryColor: #F6F8F3;
    --accentColor: #1D1D1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primaryColor);
    font-family: 'Nunito', sans-serif;
    color: var(--accentColor);
}

a {
    text-decoration: none;
    color: var(--accentColor);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 100px;
}

p {
    font-size: 30px;
    font-weight: 600;
}

a {
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}