@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --primaryColor: #1a1c20;
  --secondaryColor: #20242e;
  --accentColor: #f7f7f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--primaryColor);
  color: var(--accentColor);
  font-family: 'Abril Fatface', cursive;
}

a {
  text-decoration: none;
  color: var(--accentColor);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accentColor);
  display: none;
}

::-moz-selection {
  color: var(--primaryColor);
  background: var(--accentColor);
}

::selection {
  color: var(--primaryColor);
  background: var(--accentColor);
}

.app {
  margin: 50px;
}

article {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article h1 {
  font-size: 100px;
  letter-spacing: 10px;
}

article p {
  margin-top: 20px;
  font-size: 40px;
  font-family: sans-serif;
}
