@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --primaryColor: #1D1D1F;
    --secondaryColor: #1F2024;
    --accentColor: #F6F8F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primaryColor);
    font-family: 'Nunito', sans-serif;
    color: var(--accentColor);
}

.app {
    margin: 50px;
}

.app-content {
    margin: 80px 100px;
}

.important {
    -webkit-text-stroke: 0px transparent;
    color: var(--accentColor);
}

.outlined {
    -webkit-text-stroke: 2px var(--accentColor);
    color: transparent;
}

/* header */

.header img {
    width: 50px;
}

/* title  */

/* .title {
    margin-top: 80px;
    margin-left: 100px;
} */

.title h1 {
    font-size: 70px;
}