<section class="container">
  <div>
    <div class="relative w-fit">
      <img src="/pfp.png" alt="Fadhil Saheer" class="size-14 rounded-xl" />

      <div
        class="p-1 rounded-full bg-macchiato-crust absolute -bottom-1 -right-1"
      >
        <div class="size-3 bg-macchiato-teal rounded-full"></div>
      </div>
    </div>

    <div class="mt-4">
      <div class="flex items-center gap-1.5">
        <h2 class="text-lg">Fadhil Saheer</h2>
        <div class="group relative" aria-hidden="true">
          <svg
            width="20"
            height="20"
            viewBox="0 0 19 19"
            xmlns="http://www.w3.org/2000/svg"
            class="fill-macchiato-blue"
            ><g clip-path="url(#clip0_2001_8679)"
              ><g clip-path="url(#clip1_2001_8679)"
                ><g clip-path="url(#clip2_2001_8679)"
                  ><g clip-path="url(#clip3_2001_8679)"
                    ><path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17.9366 8.47179L17.2135 7.62796C17.0766 7.46758 16.9731 7.28143 16.9092 7.08047C16.8453 6.87951 16.8222 6.6678 16.8413 6.45779L16.9419 5.34461C16.9782 4.97056 16.878 4.596 16.6599 4.28997C16.4418 3.98394 16.1204 3.76707 15.755 3.67932L14.6932 3.43343C14.4886 3.3856 14.2961 3.29623 14.1274 3.17088C13.9588 3.04553 13.8178 2.88686 13.713 2.70473L13.1542 1.74132C12.9691 1.41633 12.6705 1.1712 12.3157 1.05299C11.9609 0.934787 11.5749 0.951851 11.2319 1.1009L10.2338 1.53679C10.0433 1.62022 9.83765 1.6633 9.62971 1.6633C9.42178 1.6633 9.21609 1.62022 9.02563 1.53679L8.02533 1.1009C7.68272 0.95157 7.29702 0.934003 6.94225 1.05157C6.58748 1.16914 6.28861 1.41357 6.10298 1.73796L5.54751 2.69579C5.3318 3.06461 4.97751 3.32838 4.56398 3.42226L3.50669 3.66479C3.14085 3.75208 2.81894 3.96876 2.60038 4.27484C2.38181 4.58091 2.28134 4.95572 2.31751 5.33008L2.4181 6.45108C2.4561 6.87579 2.3231 7.29714 2.04816 7.61902L1.31833 8.4729C0.815392 9.06079 0.815392 9.93814 1.32057 10.526L2.04592 11.3721C2.32198 11.694 2.4561 12.1164 2.4181 12.5423L2.31751 13.6644C2.28114 14.0381 2.38099 14.4124 2.59866 14.7184C2.81634 15.0244 3.13721 15.2415 3.50222 15.3297L4.56733 15.5756C4.97751 15.6706 5.3318 15.9332 5.54639 16.302L6.10186 17.2587C6.49416 17.9349 7.3201 18.2076 8.02645 17.8958L9.02339 17.4566C9.2143 17.3721 9.42071 17.3282 9.62948 17.3278C9.83825 17.3274 10.0448 17.3705 10.236 17.4543L11.2341 17.8913C11.5768 18.0406 11.9626 18.058 12.3174 17.9402C12.6722 17.8224 12.971 17.5777 13.1565 17.2531L13.713 16.2942C13.9276 15.9254 14.2808 15.6627 14.691 15.5677L15.7561 15.3218C16.1213 15.2336 16.4423 15.0164 16.66 14.7102C16.8777 14.4039 16.9775 14.0294 16.9408 13.6554L16.8402 12.5423C16.8022 12.1176 16.9375 11.6928 17.2135 11.3721L17.9377 10.5283C18.1825 10.2416 18.3169 9.87697 18.3169 9.50002C18.3169 9.12307 18.1825 8.75848 17.9377 8.47179H17.9366ZM5.45363 10.8714L7.44192 12.9144C7.60142 13.0739 7.8177 13.1634 8.04322 13.1634C8.26873 13.1634 8.48501 13.0739 8.64451 12.9144L13.5901 7.85708C13.7468 7.69636 13.8345 7.48079 13.8345 7.25635C13.8345 7.0319 13.7468 6.81633 13.5901 6.65561L13.532 6.59637C13.4547 6.51754 13.3624 6.45491 13.2606 6.41215C13.1588 6.3694 13.0495 6.34737 12.9391 6.34737C12.8286 6.34737 12.7193 6.3694 12.6175 6.41215C12.5157 6.45491 12.4235 6.51754 12.3462 6.59637L8.04322 10.9898L6.69757 9.61179C6.62024 9.53278 6.52791 9.47 6.426 9.42715C6.32409 9.38429 6.21465 9.36222 6.1041 9.36222C5.99354 9.36222 5.8841 9.38429 5.78219 9.42715C5.68028 9.47 5.58796 9.53278 5.51063 9.61179L5.45251 9.67102C5.29583 9.83174 5.20814 10.0473 5.20814 10.2718C5.20814 10.4962 5.29583 10.7118 5.45251 10.8725L5.45363 10.8714Z"
                    ></path></g
                  ></g
                ></g
              ><mask
                id="mask0_2001_8679"
                style="mask-type:alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="20"
                height="19"
                ><g clip-path="url(#clip4_2001_8679)"
                  ><g clip-path="url(#clip5_2001_8679)"
                    ><path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17.9366 8.47179L17.2135 7.62796C17.0766 7.46758 16.9731 7.28143 16.9092 7.08047C16.8453 6.87951 16.8222 6.6678 16.8413 6.45779L16.9419 5.34461C16.9782 4.97056 16.878 4.596 16.6599 4.28997C16.4418 3.98394 16.1204 3.76707 15.755 3.67932L14.6932 3.43343C14.4886 3.3856 14.2961 3.29623 14.1274 3.17088C13.9588 3.04553 13.8178 2.88686 13.713 2.70473L13.1542 1.74132C12.9691 1.41633 12.6705 1.1712 12.3157 1.05299C11.9609 0.934787 11.5749 0.951851 11.2319 1.1009L10.2338 1.53679C10.0433 1.62022 9.83765 1.6633 9.62971 1.6633C9.42178 1.6633 9.21609 1.62022 9.02563 1.53679L8.02533 1.1009C7.68272 0.95157 7.29702 0.934003 6.94225 1.05157C6.58748 1.16914 6.28861 1.41357 6.10298 1.73796L5.54751 2.69579C5.3318 3.06461 4.97751 3.32838 4.56398 3.42226L3.50669 3.66479C3.14085 3.75208 2.81894 3.96876 2.60038 4.27484C2.38181 4.58091 2.28134 4.95572 2.31751 5.33008L2.4181 6.45108C2.4561 6.87579 2.3231 7.29714 2.04816 7.61902L1.31833 8.4729C0.815392 9.06079 0.815392 9.93814 1.32057 10.526L2.04592 11.3721C2.32198 11.694 2.4561 12.1164 2.4181 12.5423L2.31751 13.6644C2.28114 14.0381 2.38099 14.4124 2.59866 14.7184C2.81634 15.0244 3.13721 15.2415 3.50222 15.3297L4.56733 15.5756C4.97751 15.6706 5.3318 15.9332 5.54639 16.302L6.10186 17.2587C6.49416 17.9349 7.3201 18.2076 8.02645 17.8958L9.02339 17.4566C9.2143 17.3721 9.42071 17.3282 9.62948 17.3278C9.83825 17.3274 10.0448 17.3705 10.236 17.4543L11.2341 17.8913C11.5768 18.0406 11.9626 18.058 12.3174 17.9402C12.6722 17.8224 12.971 17.5777 13.1565 17.2531L13.713 16.2942C13.9276 15.9254 14.2808 15.6627 14.691 15.5677L15.7561 15.3218C16.1213 15.2336 16.4423 15.0164 16.66 14.7102C16.8777 14.4039 16.9775 14.0294 16.9408 13.6554L16.8402 12.5423C16.8022 12.1176 16.9375 11.6928 17.2135 11.3721L17.9377 10.5283C18.1825 10.2416 18.3169 9.87697 18.3169 9.50002C18.3169 9.12307 18.1825 8.75848 17.9377 8.47179H17.9366ZM5.45363 10.8714L7.44192 12.9144C7.60142 13.0739 7.8177 13.1634 8.04322 13.1634C8.26873 13.1634 8.48501 13.0739 8.64451 12.9144L13.5901 7.85708C13.7468 7.69636 13.8345 7.48079 13.8345 7.25635C13.8345 7.0319 13.7468 6.81633 13.5901 6.65561L13.532 6.59637C13.4547 6.51754 13.3624 6.45491 13.2606 6.41215C13.1588 6.3694 13.0495 6.34737 12.9391 6.34737C12.8286 6.34737 12.7193 6.3694 12.6175 6.41215C12.5157 6.45491 12.4235 6.51754 12.3462 6.59637L8.04322 10.9898L6.69757 9.61179C6.62024 9.53278 6.52791 9.47 6.426 9.42715C6.32409 9.38429 6.21465 9.36222 6.1041 9.36222C5.99354 9.36222 5.8841 9.38429 5.78219 9.42715C5.68028 9.47 5.58796 9.53278 5.51063 9.61179L5.45251 9.67102C5.29583 9.83174 5.20814 10.0473 5.20814 10.2718C5.20814 10.4962 5.29583 10.7118 5.45251 10.8725L5.45363 10.8714Z"
                      fill="#1DB7F9"></path></g
                  ></g
                ></mask
              ><g mask="url(#mask0_2001_8679)"
                ><rect
                  x="0.439941"
                  y="0.950012"
                  width="19"
                  height="17.1"
                  fill="url(#paint0_radial_2001_8679)"></rect></g
              ></g
            ><defs
              ><radialGradient
                id="paint0_radial_2001_8679"
                cx="0"
                cy="0"
                r="1"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(-0.928059 8.23461) scale(3.04 15.732)"
                ><stop stop-color="white" stop-opacity="0.6"></stop><stop
                  offset="0.84"
                  stop-color="white"
                  stop-opacity="0"></stop></radialGradient
              ><clipPath id="clip0_2001_8679"
                ><rect
                  width="19"
                  height="19"
                  fill="white"
                  transform="translate(0.439941)"></rect></clipPath
              ><clipPath id="clip1_2001_8679"
                ><rect
                  width="19"
                  height="17.1"
                  fill="white"
                  transform="translate(0.439941 0.950012)"></rect></clipPath
              ><clipPath id="clip2_2001_8679"
                ><rect
                  width="19"
                  height="17.1"
                  fill="white"
                  transform="translate(0.439941 0.950012)"></rect></clipPath
              ><clipPath id="clip3_2001_8679"
                ><rect
                  width="19"
                  height="17.8824"
                  fill="white"
                  transform="translate(0.439941 0.558838)"></rect></clipPath
              ><clipPath id="clip4_2001_8679"
                ><rect
                  width="19"
                  height="17.1"
                  fill="white"
                  transform="translate(0.439941 0.950012)"></rect></clipPath
              ><clipPath id="clip5_2001_8679"
                ><rect
                  width="19"
                  height="17.8824"
                  fill="white"
                  transform="translate(0.439941 0.558838)"></rect></clipPath
              ></defs
            ></svg
          >
        </div>
      </div>
      <p class="text-macchiato-subtext-0 font-light">
        Engineer / Professional Idiot
      </p>
    </div>

    <p class="mt-6 text-macchiato-subtext-0 font-light">
      Hello World, I&apos;m Fadhil — a curious mind who loves turning ideas into
      real products. Building, learning, and experimenting with new tech keeps
      me going. In my free time, I enjoy watching anime and reading manga.
    </p>
  </div>
</section>
