---
import ContactCard from "./ContactCard.astro";
---

<section class="w-full flex flex-col items-center">
  <div class="container">
    <h3
      class="font-geist-mono font-light text-macchiato-subtext-0 text-xs tracking-wider"
    >
      CONTACT
    </h3>
    <p class="mt-4 text-macchiato-subtext-0 font-light">
      I&apos;m always up to meet new people and talk ideas. Drop a message,<br
      />
      I reply quicker than most.
    </p>
  </div>

  <div
    class="mt-5 w-full font-light text-sm text-macchiato-subtext-1 group/contacts"
  >
    <ContactCard
      name="Email"
      url="mailto:fadhil@hyfic.org"
      value="fadhil@hyfic.org"
    >
      <svg
        slot="icon"
        width="21"
        height="21"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        class="fill-macchiato-subtext-1"
        ><path d="M0 0h24v24H0z" fill="none"></path><path
          d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
        ></path></svg
      >
    </ContactCard>
    <ContactCard
      name="LinkedIn"
      url="https://www.linkedin.com/in/fadhilsaheer/"
      value="/in/fadhilsaheer"
    >
      <svg
        slot="icon"
        width="20"
        height="20"
        viewBox="0 0 20 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="text-subdued"
        ><path
          d="M17 1.89014C17.53 1.89014 18.039 2.10114 18.414 2.47614C18.789 2.85114 19 3.36014 19 3.89014V17.8901C19 18.4201 18.789 18.9291 18.414 19.3041C18.039 19.6791 17.53 19.8901 17 19.8901H3C2.47 19.8901 1.961 19.6791 1.586 19.3041C1.211 18.9291 1 18.4201 1 17.8901V3.89014C1 3.36014 1.211 2.85114 1.586 2.47614C1.961 2.10114 2.47 1.89014 3 1.89014H17ZM16.5 17.3901V12.0901C16.5 11.2251 16.157 10.3961 15.545 9.78514C14.934 9.17314 14.105 8.83014 13.24 8.83014C12.39 8.83014 11.4 9.35014 10.92 10.1301V9.02014H8.13V17.3901H10.92V12.4601C10.92 11.6901 11.54 11.0601 12.31 11.0601C12.681 11.0601 13.037 11.2081 13.3 11.4701C13.563 11.7331 13.71 12.0891 13.71 12.4601V17.3901H16.5ZM4.88 7.45014C5.326 7.45014 5.753 7.27314 6.068 6.95814C6.383 6.64314 6.56 6.21614 6.56 5.77014C6.56 4.84014 5.81 4.08014 4.88 4.08014C4.432 4.08014 4.002 4.25814 3.685 4.57514C3.368 4.89214 3.19 5.32214 3.19 5.77014C3.19 6.70014 3.95 7.45014 4.88 7.45014ZM6.27 17.3901V9.02014H3.5V17.3901H6.27Z"
          fill="currentColor"></path></svg
      >
    </ContactCard>
    <ContactCard
      name="Github"
      url="https://github.com/fadhilsaheer"
      value="@fadhilsaheer"
    >
      <svg
        slot="icon"
        width="20"
        height="20"
        viewBox="0 0 20 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="text-subdued"
        ><g clip-path="url(#clip0_2001_3889)"
          ><path
            d="M10 0.890137C8.687 0.890137 7.386 1.14914 6.173 1.65114C4.96 2.15414 3.858 2.89014 2.929 3.81914C1.054 5.69414 0 8.23814 0 10.8901C0 15.3101 2.87 19.0601 6.84 20.3901C7.34 20.4701 7.5 20.1601 7.5 19.8901V18.2001C4.73 18.8001 4.14 16.8601 4.14 16.8601C3.68 15.7001 3.03 15.3901 3.03 15.3901C2.12 14.7701 3.1 14.7901 3.1 14.7901C4.1 14.8601 4.63 15.8201 4.63 15.8201C5.5 17.3401 6.97 16.8901 7.54 16.6501C7.63 16.0001 7.89 15.5601 8.17 15.3101C5.95 15.0601 3.62 14.2001 3.62 10.3901C3.62 9.28014 4 8.39014 4.65 7.68014C4.55 7.43014 4.2 6.39014 4.75 5.04014C4.75 5.04014 5.59 4.77014 7.5 6.06014C8.29 5.84014 9.15 5.73014 10 5.73014C10.85 5.73014 11.71 5.84014 12.5 6.06014C14.41 4.77014 15.25 5.04014 15.25 5.04014C15.8 6.39014 15.45 7.43014 15.35 7.68014C16 8.39014 16.38 9.28014 16.38 10.3901C16.38 14.2101 14.04 15.0501 11.81 15.3001C12.17 15.6101 12.5 16.2201 12.5 17.1501V19.8901C12.5 20.1601 12.66 20.4801 13.17 20.3901C17.14 19.0501 20 15.3101 20 10.8901C20 9.57714 19.741 8.27614 19.239 7.06314C18.736 5.85014 18 4.74814 17.071 3.81914C16.142 2.89014 15.04 2.15414 13.827 1.65114C12.614 1.14914 11.313 0.890137 10 0.890137Z"
            fill="currentColor"></path></g
        ><defs
          ><clipPath id="clip0_2001_3889"
            ><rect
              width="20"
              height="20"
              fill="white"
              transform="translate(0 0.890137)"></rect></clipPath
          ></defs
        ></svg
      >
    </ContactCard>
    <ContactCard
      name="X"
      url="https://x.com/fadhilsaheer"
      value="@fadhilsaheer"
    >
      <svg
        slot="icon"
        width="20"
        height="20"
        viewBox="0 0 20 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="text-subdued"
        ><g clip-path="url(#clip0_2001_3873)"
          ><path
            d="M15.75 1.82715H18.817L12.117 9.50415L20 19.9531H13.829L8.991 13.6171L3.463 19.9531H0.393L7.559 11.7381L0 1.82815H6.329L10.694 7.61815L15.75 1.82715ZM14.671 18.1131H16.371L5.4 3.57115H3.577L14.671 18.1131Z"
            fill="currentColor"></path></g
        ><defs
          ><clipPath id="clip0_2001_3873"
            ><rect
              width="20"
              height="20"
              fill="white"
              transform="translate(0 0.890137)"></rect></clipPath
          ></defs
        ></svg
      >
    </ContactCard>
    <ContactCard
      name="Telegram"
      url="https://t.me/fadhilsaheer"
      value="@fadhilsaheer"
    >
      <svg
        slot="icon"
        width="20"
        height="20"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        class="fill-macchiato-subtext-1"
        ><title>Telegram icon</title><path
          d="M23.91 3.79L20.3 20.84c-.25 1.21-.98 1.5-2 .94l-5.5-4.07-2.66 2.57c-.3.3-.55.56-1.1.56-.72 0-.6-.27-.84-.95L6.3 13.7l-5.45-1.7c-1.18-.35-1.19-1.16.26-1.75l21.26-8.2c.97-.43 1.9.24 1.53 1.73z"
        ></path></svg
      >
    </ContactCard>
  </div>
</section>
