---
import Card from './Card.astro';
---

<div class='mt-16'>
  <h2 class='text-2xl sm:text-3xl font-medium text-rose-100/80'>Experience</h2>
  <p class='mt-7 text-xl text-rose-100/50'>
    Wonderful companies I worked with.
  </p>
  <div class='mt-9 grid grid-cols-1 gap-7'>
    <Card
      title='WebCoffee'
      substring='Oct 23 - Now'
      link='https://webcoffee.in/'
      image='https://res.cloudinary.com/dvsipt8rv/image/upload/v1705284892/public/company/r0wdq820qfpd40esl2k0.webp'
      description={'Software engineer \u{1F468}\u{200D}\u{1F4BB}'}
    />
    <Card
      title='ClusterDev'
      substring='Nov 22 - Sep 23'
      link='https://clusterdev.com'
      image='https://res.cloudinary.com/dvsipt8rv/image/upload/v1705284892/public/company/xia9doscqcbpfoxbz04l.webp'
      description={'Software engineer \u{1F468}\u{200D}\u{1F4BB}'}
    />
    <Card
      title='Entvin'
      substring='Oct 22 - Nov 22'
      link='https://entvin.com'
      image='https://res.cloudinary.com/dvsipt8rv/image/upload/v1705284893/public/company/jn8bgbko5hj1qdtx2fww.webp'
      description={'Software engineer \u{1F468}\u{200D}\u{1F4BB}'}
    />
  </div>
  <div class='mt-16'>
    <div>
      <h2 class='text-2xl sm:text-3xl font-medium text-rose-100/80'>
        Wanna work with me ?
      </h2>
      <p class='my-7 text-xl text-rose-100/50'>
        Feel free to connect with me anyway you like, I would love to meet new
        people.
      </p>
      <a
        href='mailto:fadhil@hyfic.org'
        class='text-xl text-rose-100/80 underline underline-offset-8 transition-all duration-200 hover:text-rose-100/50'
      >
		fadhil@hyfic.org
      </a>
    </div>
  </div>
</div>
