---
interface Props {
  size: 'large' | 'small';
}

const { size } = Astro.props;
---

<a href='#home'>
  <div
    class='rounded-full cursor-pointer bg-gradient-to-tl from-purple-700/60 to-rose-400/60 shadow-lg ring-[5px] ring-purple-500/10 group transform transition ease-out hover:scale-105 hover:from-purple-700 hover:to-rose-400 hover:shadow-rose-500/25 active:translate-y-px'
  >
    <div class='rounded-full p-1'>
      <img
        src='/fadhil.webp'
        alt='Fadhil'
        class={`rounded-full ${size === 'large' ? 'w-16' : 'w-10'}`}
      />
    </div>
  </div>
</a>
