<section class="container">
  <div>
    <h3
      class="font-geist-mono font-light text-macchiato-subtext-0 text-xs tracking-wider"
    >
      PROJECTS
    </h3>
    <p class="mt-4 text-macchiato-subtext-0 font-light">
      Most of these projects never saw production, but they got pretty close.
      Every one of them helped me refine my process and build faster.
    </p>
  </div>

  <div class="mt-8 select-none font-light">
    <a
      href="https://getbloombit.com"
      target="_blank"
      class="block pb-px hover:pb-1 transition-all duration-300 ease-in-out"
    >
      <div
        class="p-4 rounded-t-lg hover:rounded-b-lg bg-macchiato-base hover:bg-macchiato-surface-0 transition-all duration-300 ease-in-out cursor-pointer flex justify-between"
      >
        <div>
          <h3>Bloombit</h3>
          <p class="font-light text-sm text-macchiato-subtext-0">
            AI book summary app.
          </p>
        </div>
        <div class="text-right text-xs font-light font-geist-mono">
          <p class="text-macchiato-subtext-0">MOBILE</p>
          <p class="text-macchiato-overlay-0">2025</p>
        </div>
      </div>
    </a>

    <a
      href="https://clayo.ai"
      target="_blank"
      class="block py-px hover:py-1 transition-all duration-300 ease-in-out"
    >
      <div
        class="p-4 rounded hover:rounded-lg bg-macchiato-base hover:bg-macchiato-surface-0 transition-all duration-300 ease-in-out cursor-pointer flex justify-between"
      >
        <div>
          <h3>Clayo AI</h3>
          <p class="font-light text-sm text-macchiato-subtext-0">
            AI call screener
          </p>
        </div>
        <div class="text-right text-xs font-light font-geist-mono">
          <p class="text-macchiato-subtext-0">MOBILE</p>
          <p class="text-macchiato-overlay-0">2025</p>
        </div>
      </div>
    </a>

    <a
      href="https://github.com/hyfic/snorlax"
      target="_blank"
      class="block py-px hover:py-1 transition-all duration-300 ease-in-out"
    >
      <div
        class="p-4 rounded hover:rounded-lg bg-macchiato-base hover:bg-macchiato-surface-0 transition-all duration-300 ease-in-out cursor-pointer flex justify-between"
      >
        <div>
          <h3>Snorlax</h3>
          <p class="font-light text-sm text-macchiato-subtext-0">
            Local cloud storage
          </p>
        </div>
        <div class="text-right text-xs font-light font-geist-mono">
          <p class="text-macchiato-subtext-0">DESKTOP</p>
          <p class="text-macchiato-overlay-0">2023</p>
        </div>
      </div>
    </a>

    <a
      href="https://octoi.github.io/heartbeat/"
      target="_blank"
      class="block py-px hover:py-1 transition-all duration-300 ease-in-out"
    >
      <div
        class="p-4 rounded hover:rounded-lg bg-macchiato-base hover:bg-macchiato-surface-0 transition-all duration-300 ease-in-out cursor-pointer flex justify-between"
      >
        <div>
          <h3>Heartbeat</h3>
          <p class="font-light text-sm text-macchiato-subtext-0">
            Patient management system
          </p>
        </div>
        <div class="text-right text-xs font-light font-geist-mono">
          <p class="text-macchiato-subtext-0">DESKTOP</p>
          <p class="text-macchiato-overlay-0">2022</p>
        </div>
      </div>
    </a>

    <a
      href="https://octoi.github.io/heartbeat/"
      target="_blank"
      class="block pt-px hover:pt-1 transition-all duration-300 ease-in-out"
    >
      <div
        class="p-4 rounded-b-lg hover:rounded-lg bg-macchiato-base hover:bg-macchiato-surface-0 transition-all duration-300 ease-in-out cursor-pointer flex justify-between"
      >
        <div>
          <h3>Uchat</h3>
          <p
            class="font-geist-mono font-light text-sm text-macchiato-subtext-0"
          >
            Chat app
          </p>
        </div>
        <div class="text-right text-xs font-light font-geist-mono">
          <p class="text-macchiato-subtext-0">WEB</p>
          <p class="text-macchiato-overlay-0">2021</p>
        </div>
      </div>
    </a>
  </div>

  <div class="flex justify-end mt-5">
    <a
      href="https://github.com/octoi"
      target="_blank"
      class="text-xs cursor-pointer text-macchiato-subtext-0 hover:text-macchiato-text transition-all"
    >
      <span class="text-sm">/</span>projects
    </a>
  </div>
</section>
