---
import SocialIcon from './SocialIcon.astro';
import { FaGithub, FaLinkedinIn, FaTwitter } from 'react-icons/fa/index';
---

<div
  class='flex items-center space-x-7 text-base font-medium leading-none text-rose-100/90 sm:text-lg'
>
  <SocialIcon
    Icon={FaGithub}
    title='Github'
    link='https://github.com/fadhilsaheer'
  />
  <SocialIcon
    Icon={FaTwitter}
    title='Twitter'
    link='https://x.com/fadhilsaheer'
  />
  <SocialIcon
    Icon={FaLinkedinIn}
    title='LinkedIn'
    link='https://www.linkedin.com/in/fadhilsaheer/'
  />
</div>
