---
import Footer from '../components/Footer.astro';
import { GradientBackground } from '../components/GradientBackground';
import Navbar from '../components/Navbar.astro';

interface Props {
  showNav?: boolean;
  navRefId: string;
}

const { showNav, navRefId } = Astro.props;
---

<html lang='en'>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- COMMON TAGS -->
    <meta charset='utf-8' />
    <title>Fadhil | Fullstack hobbyist developer.</title>
    <link rel='icon' href='/favicon.png' />
    <!-- Search Engine -->
    <meta
      name='description'
      content='17 y/o passionate developer who loves to bring ideas to life'
    />
    <meta name='image' content='/favicon.png' />
    <!-- Schema.org for Google -->
    <meta itemprop='name' content='Fadhil | Fullstack hobbyist developer.' />
    <meta
      itemprop='description'
      content='17 y/o passionate developer who loves to bring ideas to life'
    />
    <meta itemprop='image' content='/favicon.png' />
    <!-- Twitter -->
    <meta name='twitter:card' content='summary' />
    <meta
      name='twitter:title'
      content='Fadhil | Fullstack hobbyist developer.'
    />
    <meta
      name='twitter:description'
      content='17 y/o passionate developer who loves to bring ideas to life'
    />
    <meta name='twitter:site' content='@fadhilsaheer' />
    <meta name='twitter:creator' content='@fadhilsaheer' />
    <meta name='twitter:image:src' content='/banner.webp' />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name='og:title' content='Fadhil | Fullstack hobbyist developer.' />
    <meta
      name='og:description'
      content='17 y/o passionate developer who loves to bring ideas to life'
    />
    <meta name='og:image' content='/favicon.png' />
    <meta name='og:url' content='https://fadhilsaheer.tech' />
    <meta name='og:site_name' content='fadhilsaheer' />
    <meta name='og:type' content='website' />
  </head>
  <body>
    <div
      id='home'
      class='bg-gray-900 antialiased selection:bg-purple-500/90 selection:text-white min-h-screen'
    >
      <svg
        class='pointer-events-none fixed isolate z-50 opacity-70 mix-blend-soft-light'
        width='100%'
        height='100%'
      >
        <filter id='pedroduarteisalegend'>
          <feTurbulence
            type='fractalNoise'
            baseFrequency='0.80'
            numOctaves='4'
            stitchTiles='stitch'></feTurbulence>
        </filter>
        <rect width='100%' height='100%' filter='url(#pedroduarteisalegend)'
        ></rect>
      </svg>

      <Navbar showNav={showNav} navRefId={navRefId} />
      <main
        class='relative z-10 grid grid-cols-[1fr,min(640px,100%),1fr] px-4 pt-36 sm:pt-48 text-lg text-rose-100/90 xl:grid-cols-[1fr,minmax(auto,280px),min(640px,100%),minmax(auto,280px),1fr] xl:gap-x-8 xl:px-0 [&>*]:col-start-2 xl:[&>*]:col-start-3'
      >
        <slot />
        <Footer />
      </main>
      <GradientBackground client:load />
    </div>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
